# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=ea93a39e921a140a1fdae1271dc67332

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
